<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  
  <connectionStrings>
    <add name="SqlServ"
         connectionString="Data Source=localhost;Initial Catalog=ABC;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="ClientDomeinsы" value="https://github.com/Childcity/CS_EventsServer/tree/childcity-dev" />
  </appSettings>
  
</configuration>