<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  
  <connectionStrings>
    <add name="SqlServ"
         connectionString="Server=127.0.0.1,1433;Database=StopNet4;User ID=sa;Password=;"/>     
    <add name="SqlServLocal_Example1"
         connectionString="Data Source=localhost;Initial Catalog=ABC;"
         providerName="System.Data.SqlClient"/>
    <add name="SqlServLocal_Example2"
         connectionString="Server=.\SQLExpress; AttachDbFilename=C:\MyFolder\MyDataFile.mdf; Database=dbname; Trusted_Connection=Yes;"/>
  </connectionStrings>

  <appSettings>
    <add key="ClientDomeins" value="https://github.com/Childcity/CS_EventsServer/tree/childcity-dev" />
  </appSettings>
  
</configuration>